<% content_for(:html_title) { 'New Phone' } %>
<%=render "layouts/users_sidebar" %>
<%=render "layouts/settings_nav" %>
<div class="py-12">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="overflow-hidden shadow-sm sm:rounded-lg ">
      <div class="">
        <%= form_with(url:save_phone_path, html: { method: :put, class: "dark:text-slate-300 dark:bg-zinc-800 bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4" }) do |f| %>
          <% if @phone.errors.full_messages.any? %>
            <div class="p-4 text-sm text-red-700 bg-red-100 rounded-lg  dark:bg-red-200 dark:text-red-800" role="alert">
              <% @phone.errors.full_messages.each do |error_message| %>
                <%=error_message %><br>
              <% end %>
            </div>
          <% end %>
          <div class="mb-4">
            <label class="text-xl text-gray-600">Country:<span class="text-red-500">*</span></label></br>
          <%= f.country_select :country, { priority_countries: [:GE, :UA, :US] }, {class: "dark:bg-zinc-700 dark:text-slate-300 dark:placeholder-white dark:border-gray-800 block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded-lg shadow leading-tight focus:outline-none focus:shadow-outline"} %>
        </div>
        <div class="mb-4">
          <label class="text-xl text-gray-600">Phone number:<span class="text-red-500">*</span></label></br>
        <input type="text", required = true, class="dark:bg-zinc-700 dark:text-slate-300 dark:placeholder-white dark:border-gray-800 shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="phone" id="title" value="" >
      </div>
      <div class="flex p-1">
        <button role="submit" class="p-3 bg-blue-500 text-slate-200 hover:bg-blue-400 rounded-lg"><%=t('save')%></button>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
