<% content_for(:html_title) { 'Privacy' } %>
<%=render "layouts/users_sidebar" %>
<div class = "mt-10 float-left w-full max-w-4xl content-center">
  <%=form_with(url: save_privacy_path , method: :put) do |form| %>
    <label for="large-toggle1" class="inline-flex relative items-center cursor-pointer">
      <input onchange="this.form.submit();" type="checkbox" value="<%=!current_user.settings(:privacy).user_email_notify_on_new_ip == true%>" id="large-toggle1" class="sr-only peer float-right" name="user_email_notify_on_new_ip" <%='checked' if !!current_user.settings(:privacy).user_email_notify_on_new_ip %>>
      <div class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
      <span class="ml-3 text-md font-medium text-gray-900 dark:text-gray-300"><%=t('email_notification_when_new_login_ip')%></span>
    </label>
    <hr class="mb-4 mt-4">
  <% end %>
  <%=form_with(url: save_privacy_path , method: :put) do |form| %>
    <label for="large-toggle2" class="inline-flex relative items-center cursor-pointer">
      <input type="checkbox" value="" id="large-toggle2" class="sr-only peer float-right">
      <div class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
      <span class="ml-3 text-md font-medium text-gray-900 dark:text-gray-300"><%=t('new_comment_my_post_email_notification')%></span>
    </label>
  <% end %>
  <hr class="mb-4 mt-4">
  <label for="large-toggle3" class="inline-flex relative items-center cursor-pointer">
    <input type="checkbox" value="" id="large-toggle3" class="sr-only peer float-right">
    <div class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    <span class="ml-3 text-md font-medium text-gray-900 dark:text-gray-300"><%=t('new_like_my_post_email_notification')%></span>
  </label>
  <hr class="mb-4 mt-4">
  <label for="large-toggle4" class="inline-flex relative items-center cursor-pointer">
    <input type="checkbox" value="" id="large-toggle4" class="sr-only peer float-right">
    <div class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    <span class="ml-3 text-md font-medium text-gray-900 dark:text-gray-300"><%=t('new_like_my_comment_email_notification')%></span>
  </label>
  <hr class="mb-4 mt-4">
  <label for="large-toggle5" class="inline-flex relative items-center cursor-pointer">
    <input type="checkbox" value="" id="large-toggle5" class="sr-only peer float-right">
    <div class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    <span class="ml-3 text-md font-medium text-gray-900 dark:text-gray-300"><%=t('new_message_email_notification')%></span>
  </label>
  <hr class="mb-4 mt-4">
  <label for="large-toggle6" class="inline-flex relative items-center cursor-pointer">
    <input type="checkbox" value="" id="large-toggle6" class="sr-only peer float-right">
    <div class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    <span class="ml-3 text-md font-medium text-gray-900 dark:text-gray-300"><%=t('show_active_status')%></span>
  </label>
</div>
