<% content_for(:html_title) { @blog.blog_title } %>
<div class="container mx-auto flex flex-wrap py-6">
        <!-- Post Section -->
        <section class="w-full md:w-2/3 flex flex-col items-center px-3 mx-auto">

            <article class="flex flex-col shadow my-4" style="min-width:100%!important;">
                <!-- Article Image -->
                <div class="bg-white flex flex-col justify-start p-6">
                          <% if current_user.present?  && current_user.id == @blog.user_id %>
          <%=link_to "Edit", edit_blog_url(@blog.hashid)%>
          <% end %>
                    <h3 class="text-3xl font-bold pb-4"><%=h(@blog.blog_title)%></h3>


                    <!-- component -->
<div class = "mb-4">

<% if @blog.categories %>
    <% @blog.categories.each do |cat| %>
  <div
    class="mr-4 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 rounded-full bg-white text-gray-700 border"
  >
    <%=link_to cat.name, show_category_blogs_path(cat.name.parameterize), class: 'text-blue-600 hover:text-blue-800 visited:text-purple-600'%>
  </div>
    <% end %>
<% end %>
</div>
<hr>
                    <p class="text-sm pb-2 mt-2">
                        By <%=link_to h(@blog.user.username), user_blogs_path(@blog.user.username), class: 'font-semibold hover:text-gray-800'%>, <%=@blog.created_at.strftime("Published on %b %d, %Y")%>
                    </p>
                    <hr class="pb-2">
                    <%= raw(@blog.blog_text) %>
                    
                </div>
            </article>
            <div class="w-full flex flex-col text-center md:text-left md:flex-row shadow bg-white mb-4 p-6">
                <div class="flex-1 flex flex-col justify-center md:justify-start">
                    <p class="font-semibold text-2xl">Author: <%=h(@blog.user.full_name)%></p>
                </div>
            </div>

            <div class="w-full flex">
            <% if @prev %>
                <a href="<%=show_blog_url(@prev.hashid)%>" class="w-1/2 bg-white shadow hover:shadow-md text-left p-6">
                    <p class="text-lg text-blue-800 font-bold flex items-center"><i class="fas fa-arrow-left pr-1"></i> Previous</p>
                    <p class="pt-2"><%=@prev.blog_title%></p></p>
                </a>
                <% end %>
                <% if @next %>
                <a href="<%=show_blog_url(@next.hashid)%>" class="w-1/2 bg-white shadow hover:shadow-md text-right p-6">
                    <p class="text-lg text-blue-800 font-bold flex items-center justify-end">Next <i class="fas fa-arrow-right pl-1"></i></p>
                    <p class="pt-2"><%=@next.blog_title%></p>
                </a>
                <% end %>
            </div>

            <h4 class="py-5">Comments(<%=@blog.comments.size%>)</h4>
                                <!-- comment form -->
            <div class="w-full flex mx-auto items-center justify-center shadow-lg mt-4 mx-8 mb-4">
            <%= form_with(url: save_new_comment_path, html: { method: :put, class: "w-full bg-white rounded-lg px-4 pt-2" }) do |f| %>
                         <% if @comment.errors.full_messages.any? %>
                            <div class="p-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                            <% @comment.errors.full_messages.each do |error_message| %>
                              <%=error_message %><br>
                            <% end %>
                            </div>
                        <% end %>
              <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Add a new comment</h2>
                    <div class="w-full md:w-full px-3 mb-2 mt-2">
                        <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required></textarea>
                    </div>
                    <div class="w-full md:w-full flex items-start md:w-full px-3">
                        <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
                        </div>
                        <div class="-mr-1">
                        <input type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" value='Post Comment'>
                        </div>
                    </div>
                <% end %>
            </div>
            </div>
<!-- component -->
<% unless @blog.comments.empty? %>
<% @blog.comments.each do |comment| %>
            <div class="w-full my-2 mx-1 flex gap-3 rounded-md bg-white p-2 text-black shadow">
                        
                        <!-- Content -->
                        <div class = "w-full">
                            <!-- Header -->
                            <div class="flex items-center justify-between py-1 pr-2">
                            <!-- Author -->
                                <div>
                                    <% if comment.user.avatar.attached? %>
                                    <%= image_tag comment.user.avatar.variant(:thumb), class: 'float-left w-8 h-8 rounded-full mr-4 mb-2'%>
                                  <% else %>
                                   <%=image_tag("/images/users/profile_picture.jpg", :alt => "user photo", class: 'float-left mr-4 mb-2 w-8 h-8 rounded-full') %>
                                  <% end %>
                                    <%=link_to h(comment.user.username), user_blogs_path(comment.user.username), class: "text-blue-400 hover:underline" %>
                                    <span class="text-sm font-thin text-gray-500"> <%=comment.created_at.strftime("Published on %b %d, %Y")%></span>
                                </div>
                            <!-- Rate -->
                            <div>
                                <div class="float-right">
                                    <a href="javascript:add_like(<%=!current_user.nil? ? current_user.id : -1 %>,<%=comment.id%>)" >
<svg xmlns="http://www.w3.org/2000/svg" id="comment-heart-<%=comment.id%>" class="<%='text-red-600' if (!current_user.nil? && comment.likes.find_by(user_id: current_user.id))%> float-left h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
</svg>
                                    <div id = "comment-count-<%=comment.id%>" class = "float-left"><%="(#{comment.likes.size})"%></div>
                                    </a>
                            </div>
                            </div>
                            </div>
                            <!-- Context -->
                            <div class="p-1">
                            <p class="text-gray-900 border-l-2 px-1 border-blue-500 bg-gray-100 rounded break-all"><%=h(comment.body)%></p>

                            </div>
                        </div>
                        </div>
   <% end%>
<% end %>


        </section>


</div>