<div class="mt-10 m-auto w-full max-w-lg content-center">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>
    <%= devise_error_messages! %>
    <% flash.each do |key, value| %>
       <div class="flash <%= key %> text-red-700"><%= value %></div>
    <% end %>
  <div class="mb-4">
    <%= f.label :email, class: 'block text-gray-700 text-sm font-bold'%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="flex items-baseline justify-between">
    <%= f.submit "Send me reset password instructions", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  </div>
<% end %>

<div class="my-10 m-auto w-full max-w-xs text-center">
  <%= link_to 'Sign In', new_user_session_path, html: {class: 'inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800'}%> | 
  <%= link_to 'Sign Up', new_user_registration_path, html: {class: 'inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800'}%>

</div>

</div>