<% content_for(:html_title) { 'Settings' } %>
<%=render "layouts/users_sidebar" %>
<%=render "layouts/settings_nav" %>
<div class = "mt-10 float-left w-full max-w-4xl content-center">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    <% unless @addresses.nil? %>
      <!-- Column -->
      <% @addresses.each do |address|%>
        <div class="rounded-lg my-1 dark:bg-gray-800 dark:text-slate-300 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          <!-- Article -->
          <article class="overflow-hidden rounded-lg  shadow-lg">
            <h1 class="text-lg p-4">
              <p class="dark:text-slate-300 no-underline hover:underline text-black" href="#">
                <%=address['label']%>
              </p>
            </h1>
            <header class="flex items-center justify-between leading-tight p-2 md:p-4">
              <%=link_to "https://www.google.com/maps/search/?api=1&query=#{address.latitude},#{address.longitude}", target: "_blank" do %>
                <div role="status" class="w-64 space-y-8 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-center">
                  <div id="sk-skeleton-address-<%=StaticMap.to_md5(address.latitude, address.longitude)%>" class="flex justify-center items-center h-40 bg-gray-300 rounded sm:w-96 dark:bg-gray-700">
                    <svg class="w-12 h-12 text-gray-200" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" viewBox="0 0 640 512"><path d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z"/></svg>
                  </div>
                </div>
                <%=image_tag("#{StaticMap.new(address.latitude, address.longitude).get_image}", id: "sk-image-address-#{StaticMap.to_md5(address.latitude, address.longitude)}", class: "hidden",  height: '256', width: '256')%>
              <% end %>
            </header>
<<<<<<< HEAD
=======
            <script>
              skeleton_image("sk-image-address-<%=StaticMap.to_md5(address.latitude, address.longitude)%>","sk-skeleton-address-<%=StaticMap.to_md5(address.latitude, address.longitude)%>")
            </script>
            <hr>
>>>>>>> eb4bc684 (skeleton load for address map images)
            <div class="p-2 md:p-4">
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('street')%>:</bold> <%="#{address['street']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('street_number')%>:</bold> <%="#{address['number']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('postal_code')%>:</bold> <%="#{address['postal_code']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('region')%>:</bold> <%="#{address['region']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('county')%>:</bold> <%="#{address['county']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('country')%>:</bold> <%="#{address['country']}"%>
              </p>
            </div>
          </article>
          <!-- END Article -->
        </div>
      <% end %>
    <% end %>
    <!-- END Column -->
  </div>
  <div class="mx-auto text-center mt-10 mb-10">
    <%= paginate @addresses %>
  </div>
</div>
