<% content_for(:html_title) { 'Settings' } %>
<%=render "layouts/users_sidebar" %>
<%=render "layouts/settings_nav" %>
<div class = "mt-10 float-left w-full max-w-4xl content-center">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    <% unless @addresses.nil? %>
      <!-- Column -->
      <% @addresses.each do |address|%>
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          <!-- Article -->
          <article class="overflow-hidden rounded-lg shadow-lg">
            <h1 class="text-lg p-4">
              <p class="no-underline hover:underline text-black" href="#">
                <%=address['label']%>
              </p>
            </h1>
            <header class="flex items-center justify-between leading-tight p-2 md:p-4">
              <%=link_to "https://www.google.com/maps/search/?api=1&query=#{address.latitude},#{address.longitude}", target: "_blank" do %>
                <%=image_tag("#{StaticMap.new(address.latitude, address.longitude).get_image}", height: '300', width: '400')%>
              <% end %>
            </header>
            <hr>
            <div class="p-2 md:p-4">
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('street')%>:</bold> <%="#{address['street']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('street_number')%>:</bold> <%="#{address['number']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('postal_code')%>:</bold> <%="#{address['postal_code']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('region')%>:</bold> <%="#{address['region']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('county')%>:</bold> <%="#{address['county']}"%>
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <bold class="font-bold"><%=t('country')%>:</bold> <%="#{address['country']}"%>
              </p>
            </div>
          </article>
          <!-- END Article -->
        </div>
      <% end %>
    <% end %>
    <!-- END Column -->
  </div>
  <div class="mx-auto text-center mt-10 mb-10">
    <%= paginate @addresses %>
  </div>
</div>
