
                            <hr class="pb-4">

        
        
                            
                        </div>


        <div class="mt-6 px-5 py-4 bg-white dark:bg-gray-800 shadow rounded-lg w-full">
          <div class="flex mb-4">
            <% if post.user.avatar.attached? %>
              <%= image_tag post.user.avatar.variant(:thumb), class: 'w-12 h-12 rounded-full'%>
            <% else %>
              <%=image_tag("#{ENV['DEFAULT_AVATAR_IMAGE_PATH']}", :alt => "user photo", class: 'w-12 h-12 rounded-full') %>
            <% end %>
            <div class="ml-2 mt-0.5">
              <span class="block text-base leading-snug text-black dark:text-gray-100"><%=h(post.user.full_name) %></span>
              <%=link_to show_post_path(post.user.username, post.hashid) do%>
                <span class="block text-sm text-gray-500 dark:text-gray-400 font-light leading-snug"><%=post.created_at.strftime("%Y, %d %B at %H:%M %P")%></span>
              <% end %>
              </div>
          </div>
          
          <p class="text-gray-800 dark:text-gray-100 leading-snug md:leading-normal">
            <% if current_user.present?  && current_user.id == post.user_id %>
            <div x-data="{ open: false, word: 'Edit' }">
                <button class="float-right" x-on:click="open = ! open, word = (word == 'Edit') ? 'Cancel' : 'Edit'" x-text="word">Edit</button>
             
                <div x-show="open">
                    <%= form_with(url: save_edit_post_path(post.hashid), html: { method: :patch}) do |f| %>
                    <%= hidden_field 'id', post.hashid  %>
                        <div class="mb-2">
                            <textarea name="text", required = true, class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"><%=post.text%></textarea>
                        </div>

                <div class="flex float-right">    
                        <button role="submit" class="p-2 rounded-md bg-blue-500 text-white hover:bg-blue-400" required>Save</button>
                    </div>
                    <br>
                    <% end %>
                </div>

                <div x-show="! open">

                    <%=simple_format(h(post.text)) %>

                </div>
            </div>
            <% end %>
            <!-- component -->
                    </p>
          <div class="flex justify-between items-center mt-5">
          <div class="flex">
            <% unless current_user.nil?%>
            <div class="float-right" x-data="{ count: <%=post.likes.size%>, liked: <%=!post.likes.select{|item| item.user_id == current_user.id}.empty?%> }">
                <a href="javascript:add_like(<%=!current_user.nil? ? current_user.id : -1 %>,null,<%=post.id%>)" @click="if (liked) {count -=1; liked = false;} else { count +=1; liked = true;}">

                      <svg xmlns="http://www.w3.org/2000/svg" id="post-heart-<%=post.id%>" class="<%='text-blue-600' if (!current_user.nil? && !post.likes.select{|item| item.user_id == current_user.id}.empty?)%> float-left h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                      </svg>
                      <span id = "post-count-<%=post.id%>" x-text = "count" class="float-left ml-1 text-gray-500 dark:text-gray-400  font-light"><%="#{post.likes.size}"%></span>
                </a>
        </div>
        <% end %>
          </div>  
          <%=link_to show_post_path(post.user.username, post.hashid) do%>
            <div class="ml-1 text-gray-500 dark:text-gray-400 font-light"><%=post.comments.size%> comments</div>
          <% end %>
          </div>
        </div>
