<% content_for(:html_title) { 'New post' } %>
<%=render "layouts/users_sidebar" %>
<div class = "mt-10 float-left w-full max-w-4xl content-center">
  <div>
    <div>
      <div>
        <%= form_with(url: save_new_post_path, html: { method: :put, class: "dark:text-slate-300 dark:bg-zinc-800 bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4" }) do |f| %>
          <% if @post.errors.full_messages.any? %>
            <div class="p-4 text-sm text-red-700 bg-red-100 rounded-lg  dark:bg-red-200 dark:text-red-800" role="alert">
              <% @post.errors.full_messages.each do |error_message| %>
                <%=error_message %><br>
              <% end %>
            </div>
          <% end %>
          <!-- <div class="mb-4">
                        
                            <label class="text-xl text-gray-600">Category <span class="text-red-500">*</span></label></br>
                            <i>you can select multiple categories when holding <b>ctrl</b></i>
                            <%= f.collection_select :categories, Category.all, :id, :name, { :prompt => nil }, { :multiple => true, :size => 5, :class => "form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded-lg 
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" } %>
                        </div> -->
          <div class="mb-8">
            <label class="text-xl text-gray-600">Content <span class="text-red-500">*</span></label></br>
          <textarea name="text", required = true, class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
        </div>
        <div class="flex p-1">
          <%= f.select :active, [[t(:save_and_publish), true], [t(:save_draft), false]], class: 'border-2 border-gray-300 border-r p-2' %>
          <button role="submit" class="p-3 bg-blue-500 text-slate-200 hover:bg-blue-400" required><%=t(:submit)%></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<!-- 
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace( 'text' );
    </script> -->
