<% content_for(:html_title) { @post.text[0,12] } %>
<div class="container mx-auto flex flex-wrap py-6">
        <!-- Post Section -->
        <section class="w-full md:w-2/3 flex flex-col items-center px-3 mx-auto">

            <article class="flex flex-col shadow my-4" style="min-width:100%!important;">
                <!-- Article Image -->
                <div class="bg-white flex flex-col justify-start p-6">
                    <p class="text-sm mt-2">
                        <%=link_to h(@post.user.full_name), user_posts_path(@post.user.username), class: 'font-semibold hover:text-gray-800'%>
                    </p>
                    <span class="block text-sm text-gray-500 dark:text-gray-400 font-light leading-snug"><%=@post.created_at.strftime("%Y, %d %B at %H:%M %P")%>
                    <%="· Edited at: #{@post.updated_at.strftime("%Y, %d %B at %H:%M %P")}" if @post.updated_at != @post.created_at%>
                    </span>
                    <hr class="pb-4">
                    <% if current_user.present?  && current_user.id == @post.user_id %>
                    <div x-data="{ open: false, word: 'Edit' }">
                        <button class="float-right" x-on:click="open = ! open, word = (word == 'Edit') ? 'Cancel' : 'Edit'" x-text="word">Edit</button>
                     
                        <div x-show="open">
                            <%= form_with(url: save_edit_post_path, html: { method: :put}) do |f| %>

                                <div class="mb-2">
                                    <textarea name="text", required = true, class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"><%=@post.text%></textarea>
                                </div>

                        <div class="flex float-right">    
                                <button role="submit" class="p-2 rounded-md bg-blue-500 text-white hover:bg-blue-400" required>Save</button>
                            </div>
                            <% end %>
                        </div>

                        <div x-show="! open">

                            <%=simple_format(h(@post.text)) %>

                        </div>
                    </div>
                    <% end %>
                    <!-- component -->


                    
                </div>
            </article>
            <div class="w-full flex mx-auto items-center justify-center shadow-lg mx-8 mb-4">
            <%= form_with(url: save_new_comment_path, html: { method: :put, class: "w-full bg-white rounded-lg px-4 pt-2" }) do |f| %>
                         <% if @comment.errors.full_messages.any? %>
                            <div class="p-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                            <% @comment.errors.full_messages.each do |error_message| %>
                              <%=error_message %><br>
                            <% end %>
                            </div>
                        <% end %>
              <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Add a new comment</h2>
                    <div class="w-full md:w-full px-3 mb-2 mt-2">
                        <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required></textarea>
                    </div>
                    <div class="w-full md:w-full flex items-start md:w-full px-3">
                        <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
                        </div>
                        <div class="-mr-1">
                        <input type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" value='Post Comment'>
                        </div>
                    </div>
                <% end %>
            </div>






            </div>
<!-- component -->
<% unless @post.comments.empty? %>
<% @post.comments.each do |comment| %>
            <div class="w-full my-2 mx-1 flex gap-3 rounded-md bg-white p-2 text-black shadow">
                        
                        <!-- Content -->
                        <div class = "w-full">
                            <!-- Header -->
                            <div class="flex items-center justify-between py-1 pr-2">
                            <!-- Author -->
                                <div>
                                    <% if comment.user.avatar.attached? %>
                                    <%= image_tag comment.user.avatar.variant(:thumb), class: 'float-left w-8 h-8 rounded-full mr-4 mb-2'%>
                                  <% else %>
                                   <%=image_tag("/images/users/profile_picture.jpg", :alt => "user photo", class: 'float-left mr-4 mb-2 w-8 h-8 rounded-full') %>
                                  <% end %>
                                    <%=link_to h(comment.user.username), user_posts_path(comment.user.username), class: "text-blue-400 hover:underline" %>
                                    <span class="text-sm font-thin text-gray-500"> <%=comment.created_at.strftime("Published on %b %d, %Y")%></span>
                                </div>
                            <!-- Rate -->
                            <div>
                                <% unless current_user.nil?%>
                                <div class="float-right" x-data="{ count: <%=comment.likes.size%>, liked: <%=!comment.likes.select{|item| item.user_id == current_user.id}.empty?%> }">
                                    <a href="javascript:add_like(<%=!current_user.nil? ? current_user.id : -1 %>,<%=comment.id%>)" @click="if (liked) {count -=1; liked = false;} else { count +=1; liked = true;}">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="comment-heart-<%=comment.id%>" class="<%='text-red-600' if (!current_user.nil? && !comment.likes.select{|item| item.user_id == current_user.id}.empty?)%> float-left h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                                          </svg>
                                    <div id = "comment-count-<%=comment.id%>" x-text = "count" class = "float-left"><%="#{comment.likes.size}"%></div>
                                    </a>
                            </div>
                            <% end %>
                            </div>
                            </div>
                            <!-- Context -->
                            <div class="p-1" style="line-height: 100%;
                            display: flex;
                            justify-content: left;
                            flex-wrap: wrap;
                            white-space: pre-wrap;">
                            <p class="text-gray-900 border-l-2 px-1 border-blue-500 bg-gray-100 rounded break-all"><%=h(comment.body)%></p>

                            </div>
                        </div>
                        </div>
   <% end%>
<% end %>


        </section>


</div>