<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Simple blog on RoR" %></title>
    <meta name="author" content="Gia Nebieridze">
    <meta name="description" content="">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
        .current-pag
        {
            padding-left: .75rem;
            padding-right: .75rem;
            line-height: 1.2;
            padding-top: .4rem;
            padding-bottom: .5rem;
            margin-top: -6px;
            background-color: #d2d2d2;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgba(209,213,219,var(--tw-border-opacity));
        }
        <% if @color %>
        .user-color-bg{
            background-color:<%=@color%>!important;
        }
        <% end %>


    </style>
    <%=stylesheet_link_tag "style.css"%>
    <%=stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"%>
        
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
<%= javascript_importmap_tags %>
<%= javascript_include_tag "application", "jquery", "toastr", "like" %>
<%= csrf_meta_tag %>
</head>
<body class="bg-gray-100 font-family-karla">
    <!-- Top Bar Nav -->
<%=render "layouts/navbar" %>

    <!-- Text Header -->
    <%# <header class="w-full container mx-auto">
        <div class="flex flex-col items-center py-12">
            <a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" href="#">
                Minimal Blog
            </a>
            <p class="text-lg text-gray-600">
                Lorem Ipsum Dolor Sit Amet
            </p>
        </div>
    </header> %>

    <!-- Topic Nav -->

<% if notice %>
    <div class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800" role="alert">
    <%= notice %>
    </div>
<% end %>

<% if alert %>
       <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
            <%= alert %>
        </div>
<% end %>  
<div class="container mx-auto w-8/12">
    <%= yield %>
 </div>

<footer class="clear-both w-full border-t bg-white pb-12">

        <div class="w-full container mx-auto flex flex-col items-center">
           <!-- <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
                <a href="#" class="uppercase px-3">About Us</a>
                <a href="#" class="uppercase px-3">Privacy Policy</a>
                <a href="#" class="uppercase px-3">Terms & Conditions</a>
                <a href="#" class="uppercase px-3">Contact Us</a>
            </div>
            -->
            <div class="uppercase pb-6">&copy; <%=request.base_url%></div>
        </div>
    </footer>

</body>
</html>